KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=order-events
KAFKA_CONSUMER_GROUP=order-events-postgres-consumer

DB_HOST=localhost
DB_PORT=5435
DB_NAME=streaming_orders
DB_USER=streaming_user
DB_PASSWORD=streaming_pass